<body>
    <%- include("./header.ejs") %>
    <div class="container">
      <%- for (var i =1; i <=10;  i++ ) { %>
        <div class="row">
          <div class="col"></div>
  
          <div class="col-6">
            
            <h2>x</h2>
          </div>
          <div class="col"></div>
        </div>
        <%- } %>
    </div>
    <%- include("./footer.ejs") %>
  </body>