<link rel="stylesheet" href="../../css/first.css" />
<body>
  <button id="home"><a href="/">Home</a></button>
  <div class="container">
    <div class="row">
      <div class="col"></div>

      <div class="col-6">
        <h2>Creeaza</h2>
        <form method="POST">
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Nume</span>
            <input type="text" name="nume" class="form-control" />
            <span class="input-group-text" id="basic-addon1">Liga</span>
            <select name="idLiga" id="ligi">
              <% for ( var i = 0; i< l.length; i++){ %>
              <option value="<%- l[i].dataValues.idLiga %>">
                <%- l[i].dataValues.nume %>
              </option>
              <% } %>
            </select>
            <span class="input-group-text" id="basic-addon1">Buget</span>
            <input type="text" name="buget" class="form-control" />
          </div>
          <button type="submit" class="btn btn-success btn-custom btn-block">
            Adauga
          </button>
        </form>
      </div>
      <div class="col"></div>
    </div>
  </div>
</body>
